<!DOCTYPE html>
<html class="ui-mobile" lang="en">
  <head> 
    <title>Hubbub</title> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO Replace the stylesheet with a custom style -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.2/jquery.mobile-1.1.0-rc.2.min.css" />
	<link rel="stylesheet" href="style/themes/testtheme.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="scripts/jqm-config.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0-rc.2/jquery.mobile-1.1.0-rc.2.min.js"></script>
    <!--<script src="lib/underscore-min.js"></script>-->
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone-min.js"></script>

    <script src="scripts/hubbub.js"></script>
    <script src="scripts/templates.js"></script>
    <script src="scripts/models/feedItem.js"></script>
    <script src="scripts/stubs.js"></script>
    <script src="scripts/views/feedView.js"></script>
    <script src="scripts/views/filterView.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/main.js"></script>
  </head> 
  <body> 
    <!--
      Populated by JavaScript at runtime.
    -->
    <!-- TODO Decide how to organize templates. Should we use require.js? -->
    <script id="feedPageTemplate" type="text/template">
      <div data-role="header">
        <!-- TODO Use Backbone to route this URL -->
        <a href="#filter">Filter</a>
        <h1>Hubbub</h1>
      </div>

      <div data-role="content">
        <!--  FeedItems go inside this list -->
        <!-- 
          jQuery Mobile provides search facilities for lists (and we can
          hook in our own code to pick out items. See
          http://jquerymobile.com/demos/1.1.0-rc.2/docs/lists/docs-lists.html
        -->
        <div data-role="collapsible-set" id="feedList"></div>
      </div>
    </script>

    <script id="feedItemTemplate" type="text/template">
      <div data-role="collapsible">
        <h1><%= source %></h1>
          <div class="ui-grid-a"> <!-- Two-column grid -->
            <div class="ui-block-a"> <!-- First column -->
              <p><%= body %></p>
              <!-- 
                TODO If body is large enough, collapse it. We'll need code to
                detect size and compare it with a threshold. See
                http://jquerymobile.com/demos/1.1.0-rc.2/docs/content/content-collapsible.html
                which explains how to write template code that does this.
              -->
            </div>
            <div class="ui-block-b"> <!-- Second column -->
              <div data-role="controlgroup"> <!-- groups the buttons together -->
                <input type="button" value="Tag" />
                <input type="button" value="Share" />
                <input type="button" value="Save" />
              </div>
            </div>
          </div>
      </div>
    </script>

    <script id="filterTemplate" type="text/template">
      <!--
        You don't need to provide a top-level div with data-role="page"
        jQuery Mobile autogenerates one (wrapping all of this stuff in it),
        and if your div has data-role="page" too, then it gets hidden because
        there can only be one page displayed at a time.
      -->
      <div data-role="header" data-theme="d">
        <h1>Filter</h1>
        <!-- TODO Align these buttons on the right of the header. -->
        <div class="ui-bar" data-inline="true">
          <a href="#" data-role="button">Execute</a>
          <a href="#" data-role="button">Reset</a>
          <a href="#" data-role="button">Save Filter</a>
        </div>
      </div>

      <div data-role="content">
        <h2>Services</h2> 
        <div class="ui-grid-d">
          <!-- TODO Replace this text with images -->
          <p class="ui-block-a">Twitter</p>
          <p class="ui-block-b">Facebook</p>
          <p class="ui-block-c">Imgur</p>
          <p class="ui-block-d">Gmail</p>
        </div>
      </div>

      <form action="filter.html" method="post">
        <label for="search" class="ui-hidden-accessible">Search</label>
        <input type="text" name="search" placeholder="Search" />
      </form>

      <div data-role="collapsible">
        <h3>More Options</h3>
        <form action="filter.html" method="post">
          <legend>Tags</legend>
          <label><input type="checkbox" name="important" />Important</label>
          <label><input type="checkbox" name="fun" />Fun</label>
          <label><input type="checkbox" name="codeStuff" />Code Stuff</label>
          <label><input type="checkbox" name="sillyPics" />Silly Pics</label>

          <legend>Other</legend>
          <label>
            <input type="checkbox" name="hyperlink" />Has a Hyperlink
          </label>
        </form>
      </div>

      <h3>Saved Filters</h3>
      <ul data-role="listview">
        <li>Kitties!</li>
        <li>School</li>
        <li>C++</li>
      </ul>
    </script>
  </body>
</html>
