<!DOCTYPE html>
<html class="ui-mobile" lang="en">
  <head> 
    <title>Hubbub</title> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO Replace the stylesheet with a custom style -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
    <link rel="stylesheet" href="style/themes/testtheme.css" />
    <link rel="stylesheet" href="style/main.css" />


    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="scripts/jqm-config.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>

    <script src="scripts/hubbub.js"></script>
    <script src="scripts/models/feedItem.js"></script>
    <script src="scripts/models/tagItem.js"></script>
    <script src="scripts/stubs.js"></script>
    <script src="scripts/views/feedView.js"></script>
    <script src="scripts/views/tagView.js"></script>
    <script src="scripts/views/filterView.js"></script>
    <script src="scripts/views/tagPageView.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/main.js"></script>
  </head> 
  <body> 
    <!--
      Populated by JavaScript at runtime.
    -->
    <!-- TODO Decide how to organize templates. Should we use require.js? -->
    <script id="feedPageTemplate" type="text/template">
      <div data-role="header">
        <a href="#filter">Filter</a>
        <h1>Hubbub</h1>
      </div>

      <div data-role="content">
        <!--  FeedItems go inside this list -->
        <!-- 
          jQuery Mobile provides search facilities for lists (and we can
          hook in our own code to pick out items. See
          http://jquerymobile.com/demos/1.1.0-rc.2/docs/lists/docs-lists.html
        -->
        <div data-role="collapsible-set" id="feedList"></div>
      </div>
    </script>

    <script id="feedItemTemplate" type="text/template">
      <div data-role="collapsible">
        <h1><%= source %></h1>
          <div class="ui-grid-a"> <!-- Two-column grid -->
            <div class="ui-block-a"> <!-- First column -->
              <p><%= body %></p>
              <!-- 
                TODO If body is large enough, collapse it. We'll need code to
                detect size and compare it with a threshold. See
                http://jquerymobile.com/demos/1.1.0-rc.2/docs/content/content-collapsible.html
                which explains how to write template code that does this.
              -->
            </div>
            <div class="ui-block-b"> <!-- Second column -->
              <div data-role="controlgroup"> <!-- groups the buttons together -->
                <a data-role="button" class="hubbub-feeditem-tag-button" href="#tag">Tag</a>
                <input type="button" value="Share" />
                <input type="button" value="Save" />
              </div>
            </div>
          </div>
      </div>
    </script>

    <script id="gmailItemTemplate" type="text/template">
      <div data-role="collapsible">
        <h1><%= source %></h1>
          <div class="ui-grid-a"> <!-- Two-column grid -->
            <div class="ui-block-a"> <!-- First column -->
              <p>From: <%= from %></p>
              <p>Subject: <%= subject %></p>
              <%= body %>
            </div>
            <div class="ui-block-b"> <!-- Second column -->
              <div data-role="controlgroup"> <!-- groups the buttons together -->
                <a data-role="button" class="hubbub-feeditem-tag-button" href="#tag">Tag</a>
                <input type="button" value="Share" />
                <input type="button" value="Save" />
              </div>
            </div>
          </div>
      </div>
    </script>

    <script id="filterTemplate" type="text/template">
      <!--
        You don't need to provide a top-level div with data-role="page"
        jQuery Mobile autogenerates one (wrapping all of this stuff in it),
        and if your div has data-role="page" too, then it gets hidden because
        there can only be one page displayed at a time.
      -->
      <div data-role="header" data-theme="d">
        <h1>Filter</h1>
        <!-- 
          TODO Align these buttons on the right of the header.
          Seems to be tricky in jQuery Mobile, but a navbar looks OK too.
        -->
        <div data-role="navbar">
          <ul>
            <li><a href="#" data-role="button">Execute</a></li>
            <li><a href="#" data-role="button">Reset</a></li>
            <li><a href="#" data-role="button">Save Filter</a></li>
          </ul>
        </div>
      </div>

      <div data-role="content">
        <h2>Services</h2> 
        <div class="ui-grid-d">
          <!-- 
            TODO Make these images look nicer, and size them beforehand
            instead of doing it in the browser.
          -->
          <p class="ui-block-a">
            <img alt="Twitter logo" src="images/twitter-logo8.jpg"
                 width="50" height="50" />
          </p>
          <p class="ui-block-b">
            <img alt="Facebook logo" src="images/facebook-logo.png"
                 width="50" height="50" />
          </p>
          <p class="ui-block-c">
            <img alt="Imgur logo" src="images/Imgur_Logo_Icon.png"
                 width="50" height="50" />
          </p>
          <p class="ui-block-d">
            <img alt="Gmail logo" src="images/gmail-logo.jpg"
                 width="50" height="50" />
          </p>
        </div>

        <form action="filter.html" method="post">
          <label for="search" class="ui-hidden-accessible">Search</label>
          <input type="text" name="search" placeholder="Search" />
        </form>

        <div data-role="collapsible">
          <h3>More Options</h3>
          <form action="filter.html" method="post">
            <legend>Tags</legend>
			<fieldset id="tagList"></fieldset>
            <legend>Other</legend>
            <label>
              <input type="checkbox" name="hyperlink" />Has a Hyperlink
            </label>
          </form>
        </div>

        <h3>Saved Filters</h3>
        <form action="filter.html" method="post">
          <label><input type="checkbox" name="kitties" />Kitties!</label>
          <label><input type="checkbox" name="school" />School</label>
          <label><input type="checkbox" name="cplusplus" />C++</label>
        </form>
      </div>
    </script>

    <script id="tagTemplate" type="text/template">
      <div data-role="header">
        <h1>Tag</h1>
      </div>

      <div data-role="content">
        <form action="tag.html" method="post"> <!-- TODO Route with Backbone -->
          <fieldset id="newTagFields">
            <label for="tagName" class="ui-hidden-accessible">Tag Name</label>
            <input type="text" name="tagName" placeholder="Tag Name" />
            <input type="button" value="New Tag" data-mini="true" />
          </fieldset>

          <!-- 
            jQuery Mobile's checkboxes expand the clickable area to improve
            usability on touch screens.
          -->
          <label><input type="checkbox" class ="hubbub-user-defined-tag" name="important" /><span>Important</span></label>
          <label><input type="checkbox" class ="hubbub-user-defined-tag" name="fun" />Fun</label>
          <label><input type="checkbox" class ="hubbub-user-defined-tag" name="codeStuff" />Code Stuff</label>
          <label><input type="checkbox" class ="hubbub-user-defined-tag" name="sillyPics" />Silly Pics</label>
        </form>
      </div>

      <div data-role="footer">
        <form action="index.html" method="post"> <!-- Route this too -->
          <a data-role="button" class="hubbub-tag-ok-button" href="#">OK</a>
          <a data-role="button" href="#">Cancel</a>
        </form>
      </div>
    
    </script>
  
    <script id="tagPageTemplate" type="text/template">
      <div data-role="header">
        <h1>Tag</h1>
      </div>

      <div data-role="content">
        <form action="#tag/0" id="hubbub-tag-form" method="post"> <!-- TODO Route with Backbone -->
          <fieldset id="newTagFields">
            <label for="tagName" class="ui-hidden-accessible">Tag Name</label>
            <input type="text" name="tagName" id="hubbub-new-tag-text" placeholder="Tag Name" />
            <input type="submit" id="hubbub-new-tag-submit" value="New Tag" data-mini="true" />
          </fieldset>

          <!-- 
            jQuery Mobile's checkboxes expand the clickable area to improve
            usability on touch screens.
          -->
          <fieldset id="tagList">
          </fieldset>
        </form>
      </div>

      <div data-role="footer">
        <form action="index.html" method="post"> <!-- Route this too -->
          <a data-role="button" id="hubbub-tag-ok-button" href="#">OK</a>
          <a data-role="button" href="#">Cancel</a>
        </form>
      </div>
    </script>
  
    <script id="tagItemTemplate" type="text/template">
      <label><input type="checkbox" class ="hubbub-user-defined-tag"/><%= tagname %></label>
    </script>
  </body>
</html>
