/* for during desktop development only */
body {
  position: relative;
  max-width: 320px;
}

h1, h2, h3 {
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
}

span, div, label, p, input, .ui-btn-text, .ui-input-search input.ui-input-text {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}

/* 
 * Align the "New Tag" text input and button from the Tag page in a single row.
 * jQuery Mobile's grid doesn't properly align them, but this CSS does it.
 * http://stackoverflow.com/questions/8606298/jquery-mobile-display-an-html-form-inline
 */
#newTagFields .ui-input-text {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}

#newTagFields > .ui-btn {
  display: inline-block;
  width: 25%;
  vertical-align: middle;

  /* right-align the button */
  margin-left: 17.7px; /* any more and it goes to the next line */
}

/* Put some space between the new tag form and the existing tags */
#newTagFields {
  padding-bottom: 20px;
}

@media all and (max-width: 480px) {
  #newTagFields .ui-input-text {
    width: 100%;
  }
  #newTagFields > .ui-btn {
    width: 100%;
  }
}


/* feed items */

.feedItem {
  clear: both;
  position: relative;
  border-top: 1px solid #ccc;
  
  /* break out of ui-content's 15px padding */
  margin: 0 -15px;
  
  overflow: hidden;
}
.feedItem span.source {
  float: left;
  font-size: 12px;
  padding: 2px;
  margin-right: 6px;
  text-shadow: none;
}
.feedItem .item-body {
  font-size: 13px;
  line-height: 18px;
  padding: 4px 15px;
}
.feedItem img {
  max-width: 100%;
}
.feedItem label {
  font-weight: bold;
}
.feedItem .feeditem-expand-button.ui-btn {
  margin: 0;
}
.item-actions {
  font-size: 12px;
  line-height: 18px;
}
.item-actions.float {
  display: inline-block;
  float: right;
  margin-left: 4px;
  margin-top: 4px;
}
.item-actions.over {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0;
}

/* styles for tag view items in a feed */

.feedTagSet .feed-tag-set-item {
  float: left;
  background: #cccccc;
  color: black;
  margin-right: 10px;
}

.feedTagSet .feed-tag-set-item.last {
  float: none;
}

/* styles specific to the source of a feed item */

/*
 * Color key:
 * Twitter - (light blue) #80e5ff
 * Gmail - (red) #d56d50
 * Imgur - (yellow) #ffe373
 * Facebook - (dark blue) #7373ff
 */

.feedItem.twitter {
  border-top-color: #80e5ff;
}
.feedItem.twitter span.source {
  background: #80e5ff;
  color: black;
}

.feedItem.imgur {
  border-top-color: #ffe373;
}
.feedItem.imgur img {
  margin-top: 4px;
}
.feedItem.imgur span.source {
  background: #ffe373;
  color: black;
}

.feedItem.gmail {
  border-top-color: #d56d50;
}
.feedItem.gmail span.source {
  background: #d56d50;
}

.feedItem.facebook {
  border-top-color: #7373ff;
}

.feedItem.facebook span.source {
  background: #7373ff;
}

/* Filter page styles */

#services {
  padding-bottom: 30px;
}

#filterSearch {
  padding-bottom: 20px;
}

.selectedService img {
  /* TODO Change this color to something better, and prettify it */
  border: 2px solid orange;  
}

/*
 * Box shadows slow things down a lot, get rid of them
 * https://forum.jquery.com/topic/a-fix-for-low-android-performance-remove-box-shadow
 */
.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
  text-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
}