/* for during desktop development only */
body {
  position: relative;
  max-width: 320px;
}

/* 
 * Align the "New Tag" text input and button from the Tag page in a single row.
 * jQuery Mobile's grid doesn't properly align them, but this CSS does it.
 * http://stackoverflow.com/questions/8606298/jquery-mobile-display-an-html-form-inline
 */
#newTagFields .ui-input-text {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

#newTagFields > .ui-btn {
  display: inline-block;
  width: 25%;
  vertical-align: middle;

  /* right-align the button */
  margin-left: 17.7px; /* any more and it goes to the next line */
}

/* Put some space between the new tag form and the existing tags */
#newTagFields {
  padding-bottom: 20px;
}

@media all and (max-width: 480px) {
  #newTagFields .ui-input-text {
    width: 100%;
  }
  #newTagFields > .ui-btn {
    width: 100%;
  }
}


/* feed items */

.feedItem {
  clear: both;
  position: relative;
  border-top: 1px solid #ccc;
  
  /* break out of ui-content's 15px padding */
  margin: 0 -15px;
}
.feedItem span.source {
  float: left;
  font-size: 12px;
  padding: 2px;
  margin-right: 6px;
  text-shadow: none;
}
.feedItem .item-body {
  font-size: 16px;
  line-height: 22px;
  padding: 4px 15px;
}
.feedItem div.ui-collapsible-content {
  position: relative;
  max-height: 115px;
  overflow: hidden;
  margin-bottom: 10px;
}
.feedItem img {
  max-width: 100%;
}
.feedItem label {
  font-weight: bold;
}
.item-actions {
  font-size: 12px;
}
.item-actions.float {
  display: inline-block;
  float: right;
  margin-left: 4px;
  margin-top: 4px;
}
.item-actions.over {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0;
}


/* styles specific to the source of a feed item */

.feedItem.twitter {
  border-top-color: #00cdff;
}
.feedItem.twitter span.source {
  background: #00cdff;
  color: black;
}

.feedItem.imgur {
  border-top-color: #ffca00;
}
.feedItem.imgur img {
  margin-top: 4px;
}
.feedItem.imgur span.source {
  background: #ffca00;
  color: black;
}

.feedItem.gmail {
  border-top-color: #ff0003;
}
.feedItem.gmail span.source {
  background: #ff0003;
  color: white;
}

/* Filter page styles */

#services {
  padding-bottom: 30px;
}

.selectedService img {
  /* TODO Change this color to something better, and prettify it */
  border: 2px solid orange;  
}
